@using PosEcommerce.Models;
 @using Newtonsoft.Json;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@


    <link rel="stylesheet" type="text/css" href="~/theme/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/theme/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/theme/css/style.css" />
</head>
<body>

    <nav class="navbar navbar-nav navbar-expand-md navbar-light bg-light justify-content-center">
        <div class="collapse navbar-collapse mr-0 d-none d-md-block">
            <ul class="navbar-nav ml-3">
                <li class="nav-item
                    @if (@ViewBag.currentp == "home") {
                        <text>active</text>
                    }
                    ">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">@Global.resourcemanager.GetString("Home").ToString()<span class="sr-only"> (current)</span></a>
                </li>
                <li class="nav-item
                      @if (@ViewBag.currentp == "products") {
                        <text>active</text>
                    }
                    ">
                    <a class="nav-link" href="@Url.Action("Index", "Category")">@Global.resourcemanager.GetString("Products").ToString()</a>
                </li>
                <li class="nav-item
                       @if (@ViewBag.currentp == "about") {
                        <text>active</text>
                    }
                    ">
                    <a class="nav-link" href="@Url.Action("About","Home")">@Global.resourcemanager.GetString("AboutUs").ToString()</a>
                </li>
                <li class="nav-item
                        @if (@ViewBag.currentp == "contact") {
                        <text>active</text>
                    }
                    ">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">@Global.resourcemanager.GetString("contactUs").ToString()</a>
                </li>
                <li>
                    <div class="dropdown show">
                        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" style="background-color: #FFF;">
                            @if (Session["lang"].ToString() == "en")
                            {

                                @Global.resourcemanager.GetString("English").ToString()
                            }
                            else
                            {
                                @Global.resourcemanager.GetString("Arabic").ToString()
                            }


                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-center" href="@Url.Action("ChangeLang", "Setting",new{lang="en" ,uri=Request.Url.AbsoluteUri.ToString()})">@Global.resourcemanager.GetString("English").ToString()</a>
                            <a class="dropdown-item text-center" href="@Url.Action("ChangeLang", "Setting",new{lang="ar",uri=Request.Url.AbsoluteUri.ToString() })">@Global.resourcemanager.GetString("Arabic").ToString()</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="main-menu-button d-block d-md-none navbar-left" style="width: 60%;">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="navbar-right" style="min-width: 180px">
            <div class="search-button float-right">
                <i class="fa fa-search fa-2x mr-3"></i>
            </div>
            <div class="cart-button float-right">
                <i class="fa fa-shopping-cart fa-2x mr-3"></i>

                <span id="span_cart_count" style="@(Session["count"]!=null ? "display:block" : "display:none")"> @(Session["count"] != null ? Session["count"].ToString() : "") </span>

            </div>
            <div class="login-button float-right">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 122.88" style="enable-background:new 0 0 122.88 122.88" xml:space="preserve">
                <path d="M61.44,0c8.32,0,16.25,1.66,23.5,4.66l0.11,0.05c7.47,3.11,14.2,7.66,19.83,13.3l0,0c5.66,5.65,10.22,12.42,13.34,19.95 c3.01,7.24,4.66,15.18,4.66,23.49c0,8.32-1.66,16.25-4.66,23.5l-0.05,0.11c-3.12,7.47-7.66,14.2-13.3,19.83l0,0 c-5.65,5.66-12.42,10.22-19.95,13.34c-7.24,3.01-15.18,4.66-23.49,4.66c-8.31,0-16.25-1.66-23.5-4.66l-0.11-0.05 c-7.47-3.11-14.2-7.66-19.83-13.29L18,104.87C12.34,99.21,7.78,92.45,4.66,84.94C1.66,77.69,0,69.76,0,61.44s1.66-16.25,4.66-23.5 l0.05-0.11c3.11-7.47,7.66-14.2,13.29-19.83L18.01,18c5.66-5.66,12.42-10.22,19.94-13.34C45.19,1.66,53.12,0,61.44,0L61.44,0z M16.99,94.47l0.24-0.14c5.9-3.29,21.26-4.38,27.64-8.83c0.47-0.7,0.97-1.72,1.46-2.83c0.73-1.67,1.4-3.5,1.82-4.74 c-1.78-2.1-3.31-4.47-4.77-6.8l-4.83-7.69c-1.76-2.64-2.68-5.04-2.74-7.02c-0.03-0.93,0.13-1.77,0.48-2.52 c0.36-0.78,0.91-1.43,1.66-1.93c0.35-0.24,0.74-0.44,1.17-0.59c-0.32-4.17-0.43-9.42-0.23-13.82c0.1-1.04,0.31-2.09,0.59-3.13 c1.24-4.41,4.33-7.96,8.16-10.4c2.11-1.35,4.43-2.36,6.84-3.04c1.54-0.44-1.31-5.34,0.28-5.51c7.67-0.79,20.08,6.22,25.44,12.01 c2.68,2.9,4.37,6.75,4.73,11.84l-0.3,12.54l0,0c1.34,0.41,2.2,1.26,2.54,2.63c0.39,1.53-0.03,3.67-1.33,6.6l0,0 c-0.02,0.05-0.05,0.11-0.08,0.16l-5.51,9.07c-2.02,3.33-4.08,6.68-6.75,9.31C73.75,80,74,80.35,74.24,80.7 c1.09,1.6,2.19,3.2,3.6,4.63c0.05,0.05,0.09,0.1,0.12,0.15c6.34,4.48,21.77,5.57,27.69,8.87l0.24,0.14 c6.87-9.22,10.93-20.65,10.93-33.03c0-15.29-6.2-29.14-16.22-39.15c-10-10.03-23.85-16.23-39.14-16.23 c-15.29,0-29.14,6.2-39.15,16.22C12.27,32.3,6.07,46.15,6.07,61.44C6.07,73.82,10.13,85.25,16.99,94.47L16.99,94.47L16.99,94.47z" />































































































































































































































































































































































































				</svg>
            </div>
            <div class="search ml-2">
                <form>
                    <input type="text" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="main-menu open">
        <div class="close-menu text-right m-3">
            <span class="text-right">@Global.resourcemanager.GetString("Close").ToString()<i class="fa fa-close fa-lg"></i></span>
        </div>
        <div class="clearfix"></div>
        <div class="nlist">
            <a href="@Url.Action("Index", "Home")" class="active">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 141.7 141.7" style="enable-background:new 0 0 141.7 141.7;" xml:space="preserve">
                <path d="M70.9,14.9L9.5,75.1l15,7.9l46-48.4L117.3,83l15-7.9L70.9,14.9L70.9,14.9z M27.8,84.5L27.8,84.5L71,41.3l43.1,43.2l0,0l0,0
					v42.4H82.6v-30H59v30H27.8V84.5L27.8,84.5L27.8,84.5z" />



				</svg>@Global.resourcemanager.GetString("Home").ToString()
            </a>
            <a href="@Url.Action("Index", "Category")" class="">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 112.14">
                    <path d="M31.21,63.63a1.92,1.92,0,0,1,0-3.84H34A8.93,8.93,0,0,1,38.66,61a7.33,7.33,0,0,1,3.12,4.43.18.18,0,0,0,0,.15l.48,2h1.1v-7.9a1.94,1.94,0,0,1,1.93-1.93H55.48a1.94,1.94,0,0,1,1.93,1.93v4.69a8.69,8.69,0,0,1,6.17-2.58,8.54,8.54,0,0,1,3,.53,10.47,10.47,0,0,1,17.92,5.26h.47a1.9,1.9,0,0,1,1.89,1.9,2.33,2.33,0,0,1-.09.58l-5,20a1.88,1.88,0,0,1-1.85,1.46H48.74C49.42,94,50.11,95.38,51,96c1.12.73,3.07.78,6.33.73H79.42a1.9,1.9,0,0,1,0,3.8h-22c-4,0-6.53,0-8.52-1.37s-3.12-3.7-4.19-7.94h0L38.17,66.55s0,0,0-.09a3.43,3.43,0,0,0-1.46-2.19A5,5,0,0,0,34,63.63H31.21Zm83.35-11v53a6.52,6.52,0,0,1-6.51,6.51H14.83a6.5,6.5,0,0,1-4.6-1.92h0a6.49,6.49,0,0,1-1.91-4.6V52.7a28.35,28.35,0,0,0,5.86.35v52.09a1.12,1.12,0,0,0,.33.8h0a1.12,1.12,0,0,0,.8.32H48.7a4.68,4.68,0,0,1,4.52-3.48h0a4.69,4.69,0,0,1,4.53,3.48H69.2a4.68,4.68,0,0,1,4.52-3.48h0a4.68,4.68,0,0,1,4.53,3.48h29.32a1.13,1.13,0,0,0,1.13-1.13V52.8a26.73,26.73,0,0,0,5.86-.16ZM68.81,75.34a1.35,1.35,0,0,1,2.65,0v7.35a1.35,1.35,0,0,1-2.65,0V75.34Zm-7.94,0a1.35,1.35,0,0,1,2.65,0v7.35a1.35,1.35,0,0,1-2.65,0V75.34Zm-7.93,0a1.35,1.35,0,0,1,2.65,0v7.35a1.35,1.35,0,0,1-2.65,0V75.34ZM69.36,64a9.27,9.27,0,0,1,2.48,3.57h9.29A7.18,7.18,0,0,0,69.36,64Zm3.11,7.37H43.39l4.33,16.31H78.45l4-16.31ZM55.2,67.53c0-.13.11-.27.17-.4V61.07a1.4,1.4,0,0,0-1.4-1.4H47a1.4,1.4,0,0,0-1.4,1.4v6.46ZM106.09,46.4c-1.25-.59-4.33-1.39-5.3-2.35a12.25,12.25,0,0,1-2.12-2.88,12.25,12.25,0,0,1-2.12,2.88c-2.14,2.13-7,3.46-10.29,3.46S78.11,46.18,76,44.05a12.25,12.25,0,0,1-2.12-2.88,12.25,12.25,0,0,1-2.12,2.88c-2.14,2.13-7,3.46-10.29,3.46s-8.15-1.33-10.29-3.46A12.25,12.25,0,0,1,49,41.17a12.25,12.25,0,0,1-2.12,2.88c-2.14,2.13-7,3.46-10.29,3.46s-8.15-1.33-10.29-3.46a12.25,12.25,0,0,1-2.12-2.88,12.25,12.25,0,0,1-2.12,2.88c-1.41,1.4-5.12,2.46-7.08,3-3.95.48-8.61-.09-11.54-3A11.77,11.77,0,0,1,0,35.71V31.07H0a1.44,1.44,0,0,1,.17-.66L8.49,3.76C9.17,1.57,10.84.16,14.07,0h94.09c2.9.31,4.79,1.53,5.57,3.74l9,26.62a1.35,1.35,0,0,1,.19.63h0a.71.71,0,0,1,0,.14v4.58a11.77,11.77,0,0,1-3.47,8.34c-3.48,3.48-8.78,3.39-13.32,2.35Z" />
                </svg>@Global.resourcemanager.GetString("Products").ToString()
            </a>
            <a href="@Url.Action("About","Home")" class="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 122.9 122.9" style="enable-background:new 0 0 122.9 122.9;" xml:space="preserve">
                <path d="M61.4,13.8c-26.3,0-47.6,21.3-47.6,47.6S35.1,109,61.4,109S109,87.7,109,61.4C109.1,35.1,87.8,13.8,61.4,13.8z M55.7,32.8
					c2.1-1.8,4.6-2.6,7.5-2.6c2.2,0,3.9,0.6,5.1,1.9c1.2,1.2,1.9,2.9,1.9,5.1s-1.1,4.2-3.2,5.9c-2.1,1.7-4.6,2.6-7.4,2.6
					c-2.1,0-3.8-0.6-5.1-1.8c-1.3-1.2-1.9-2.8-1.9-4.7C52.6,36.7,53.6,34.6,55.7,32.8z M75.4,89.9L75.4,89.9H47.4v-4.7h5.3V56.5h-5.3
					v-3.7h13c3.3,0,6.5-0.4,9.7-1.2v33.6h5.1L75.4,89.9L75.4,89.9z" />





				</svg>@Global.resourcemanager.GetString("AboutUs").ToString()
            </a>
            <a href="@Url.Action("Contact", "Home")" class="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 122.9 122.9" style="enable-background:new 0 0 122.9 122.9;" xml:space="preserve">
                <path class="st0" d="M101,0H21.9C9.8,0,0,9.8,0,21.9V101c0,12.1,9.8,21.8,21.9,21.9H101c12.1,0,21.8-9.8,21.9-21.9V21.9
					C122.8,9.8,113.1,0,101,0z M93.5,88.1c-2.6,4.5-7.8,6-12.7,6.8c-7.5,1.1-14.2-1.4-22.3-6.5c-2-1.2-4.1-2.5-6.2-4.1
					C39,74.3,25.3,56.1,27.9,40C29,32.9,33.7,27,43,27.8L51.3,42c1.7,2.1,0.5,4.1-2.1,6c-2.6,1.9-6.8,4.2-5.3,7.9v0
					c4.9,8.9,11.4,17.1,23.3,23.2c1.8,0.9,3.4,0,4.8-1.5c2.1-2.1,5-7.9,8.5-6.3l13,7.5C96.2,80.7,95.4,84.9,93.5,88.1z" />













				</svg>@Global.resourcemanager.GetString("contactUs").ToString()
            </a>
            <a href="@Url.Action("Contact", "Home")" class="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 122.88" style="enable-background:new 0 0 122.88 122.88" xml:space="preserve">
                <path d="M61.44,0c8.32,0,16.25,1.66,23.5,4.66l0.11,0.05c7.47,3.11,14.2,7.66,19.83,13.3l0,0c5.66,5.65,10.22,12.42,13.34,19.95 c3.01,7.24,4.66,15.18,4.66,23.49c0,8.32-1.66,16.25-4.66,23.5l-0.05,0.11c-3.12,7.47-7.66,14.2-13.3,19.83l0,0 c-5.65,5.66-12.42,10.22-19.95,13.34c-7.24,3.01-15.18,4.66-23.49,4.66c-8.31,0-16.25-1.66-23.5-4.66l-0.11-0.05 c-7.47-3.11-14.2-7.66-19.83-13.29L18,104.87C12.34,99.21,7.78,92.45,4.66,84.94C1.66,77.69,0,69.76,0,61.44s1.66-16.25,4.66-23.5 l0.05-0.11c3.11-7.47,7.66-14.2,13.29-19.83L18.01,18c5.66-5.66,12.42-10.22,19.94-13.34C45.19,1.66,53.12,0,61.44,0L61.44,0z M16.99,94.47l0.24-0.14c5.9-3.29,21.26-4.38,27.64-8.83c0.47-0.7,0.97-1.72,1.46-2.83c0.73-1.67,1.4-3.5,1.82-4.74 c-1.78-2.1-3.31-4.47-4.77-6.8l-4.83-7.69c-1.76-2.64-2.68-5.04-2.74-7.02c-0.03-0.93,0.13-1.77,0.48-2.52 c0.36-0.78,0.91-1.43,1.66-1.93c0.35-0.24,0.74-0.44,1.17-0.59c-0.32-4.17-0.43-9.42-0.23-13.82c0.1-1.04,0.31-2.09,0.59-3.13 c1.24-4.41,4.33-7.96,8.16-10.4c2.11-1.35,4.43-2.36,6.84-3.04c1.54-0.44-1.31-5.34,0.28-5.51c7.67-0.79,20.08,6.22,25.44,12.01 c2.68,2.9,4.37,6.75,4.73,11.84l-0.3,12.54l0,0c1.34,0.41,2.2,1.26,2.54,2.63c0.39,1.53-0.03,3.67-1.33,6.6l0,0 c-0.02,0.05-0.05,0.11-0.08,0.16l-5.51,9.07c-2.02,3.33-4.08,6.68-6.75,9.31C73.75,80,74,80.35,74.24,80.7 c1.09,1.6,2.19,3.2,3.6,4.63c0.05,0.05,0.09,0.1,0.12,0.15c6.34,4.48,21.77,5.57,27.69,8.87l0.24,0.14 c6.87-9.22,10.93-20.65,10.93-33.03c0-15.29-6.2-29.14-16.22-39.15c-10-10.03-23.85-16.23-39.14-16.23 c-15.29,0-29.14,6.2-39.15,16.22C12.27,32.3,6.07,46.15,6.07,61.44C6.07,73.82,10.13,85.25,16.99,94.47L16.99,94.47L16.99,94.47z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































				</svg>@Global.resourcemanager.GetString("Login").ToString()
            </a>
            <a href="@Url.Action("Contact", "Home")" class="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <path d="M12,46.5c-0.2,0-0.5-0.1-0.7-0.1c-2-0.4-3.6-2-3.9-4c-0.1-0.3-0.1-0.6-0.1-0.9c0-11,0-22,0-32.9c0-2.3,1.5-4.3,3.7-4.9
					c0.4-0.1,0.8-0.2,1.2-0.2c7.7,0,15.4,0,23.1,0c2.4,0,4.4,1.6,4.9,4c0.1,0.3,0.1,0.6,0.1,1c0,2.8,0,5.6,0,8.4c0,0,0,0.1,0,0.1
					c-0.1,0-0.1-0.1-0.1-0.1c-1-0.9-2.1-1.8-3.1-2.7c0,0-0.1-0.1-0.1-0.2c0-1.8,0-3.7,0-5.5c0-0.8-0.5-1.5-1.3-1.6c-0.1,0-0.3,0-0.4,0
					c-7.7,0-15.3,0-23,0c-1,0-1.7,0.7-1.7,1.7c0,11,0,21.9,0,32.9c0,1,0.7,1.7,1.7,1.7c7.7,0,15.3,0,23,0c1,0,1.7-0.7,1.7-1.7
					c0-1.8,0-3.6,0-5.5c0-0.1,0-0.2,0.1-0.3c1-0.9,2-1.7,3-2.6c0.1,0,0.1-0.1,0.2-0.2c0,0,0,0.1,0,0.1c0,2.8,0,5.6,0,8.5
					c0,2.5-1.8,4.5-4.2,4.9c-0.2,0-0.3,0-0.5,0.1C27.7,46.5,19.8,46.5,12,46.5z M28.5,20.1c-3.2,0-6.4,0-9.6,0c-1,0-1.7,0.7-1.7,1.7
					c0,2.2,0,4.3,0,6.5c0,0.1,0,0.3,0,0.4c0.2,0.8,0.8,1.3,1.7,1.3c3.2,0,6.4,0,9.7,0c0.1,0,0.1,0,0.2,0c0,0.1,0,0.1,0,0.2
					c0,1.3,0,2.6,0,3.9c0,0.2,0,0.5,0.1,0.7c0.1,0.8,0.7,1.1,1.4,1c0.1,0,0.2-0.1,0.3-0.1c0.6-0.5,1.1-1,1.7-1.5c3.5-3,7-6.1,10.5-9.1
					c0,0,0.1,0,0.1-0.1c-0.1-0.1-0.1-0.1-0.2-0.2c-0.9-0.8-1.9-1.6-2.8-2.4c-3.1-2.7-6.2-5.4-9.3-8.1c0,0-0.1-0.1-0.1-0.1
					c-0.5-0.2-1.1-0.1-1.4,0.6c-0.1,0.3-0.2,0.6-0.2,0.9c0,1.4,0,2.8,0,4.1c0,0.1,0,0.1,0,0.2C28.7,20.1,28.6,20.1,28.5,20.1z" />































































































































































































































































































































































































































































































































































































































































				</svg>@Global.resourcemanager.GetString("contactUs").ToString()
            </a>
            @*<a href="@Url.Action("Contact", "Home")" class="">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 122.88" style="enable-background:new 0 0 122.88 122.88" xml:space="preserve">
                                    <path d="M61.44,0c8.32,0,16.25,1.66,23.5,4.66l0.11,0.05c7.47,3.11,14.2,7.66,19.83,13.3l0,0c5.66,5.65,10.22,12.42,13.34,19.95 c3.01,7.24,4.66,15.18,4.66,23.49c0,8.32-1.66,16.25-4.66,23.5l-0.05,0.11c-3.12,7.47-7.66,14.2-13.3,19.83l0,0 c-5.65,5.66-12.42,10.22-19.95,13.34c-7.24,3.01-15.18,4.66-23.49,4.66c-8.31,0-16.25-1.66-23.5-4.66l-0.11-0.05 c-7.47-3.11-14.2-7.66-19.83-13.29L18,104.87C12.34,99.21,7.78,92.45,4.66,84.94C1.66,77.69,0,69.76,0,61.44s1.66-16.25,4.66-23.5 l0.05-0.11c3.11-7.47,7.66-14.2,13.29-19.83L18.01,18c5.66-5.66,12.42-10.22,19.94-13.34C45.19,1.66,53.12,0,61.44,0L61.44,0z M16.99,94.47l0.24-0.14c5.9-3.29,21.26-4.38,27.64-8.83c0.47-0.7,0.97-1.72,1.46-2.83c0.73-1.67,1.4-3.5,1.82-4.74 c-1.78-2.1-3.31-4.47-4.77-6.8l-4.83-7.69c-1.76-2.64-2.68-5.04-2.74-7.02c-0.03-0.93,0.13-1.77,0.48-2.52 c0.36-0.78,0.91-1.43,1.66-1.93c0.35-0.24,0.74-0.44,1.17-0.59c-0.32-4.17-0.43-9.42-0.23-13.82c0.1-1.04,0.31-2.09,0.59-3.13 c1.24-4.41,4.33-7.96,8.16-10.4c2.11-1.35,4.43-2.36,6.84-3.04c1.54-0.44-1.31-5.34,0.28-5.51c7.67-0.79,20.08,6.22,25.44,12.01 c2.68,2.9,4.37,6.75,4.73,11.84l-0.3,12.54l0,0c1.34,0.41,2.2,1.26,2.54,2.63c0.39,1.53-0.03,3.67-1.33,6.6l0,0 c-0.02,0.05-0.05,0.11-0.08,0.16l-5.51,9.07c-2.02,3.33-4.08,6.68-6.75,9.31C73.75,80,74,80.35,74.24,80.7 c1.09,1.6,2.19,3.2,3.6,4.63c0.05,0.05,0.09,0.1,0.12,0.15c6.34,4.48,21.77,5.57,27.69,8.87l0.24,0.14 c6.87-9.22,10.93-20.65,10.93-33.03c0-15.29-6.2-29.14-16.22-39.15c-10-10.03-23.85-16.23-39.14-16.23 c-15.29,0-29.14,6.2-39.15,16.22C12.27,32.3,6.07,46.15,6.07,61.44C6.07,73.82,10.13,85.25,16.99,94.47L16.99,94.47L16.99,94.47z" />






                                    </svg>@Global.resourcemanager.GetString("Login").ToString()
                                </a>
                                <a href="@Url.Action("Contact", "Home")" class="">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                    <path d="M12,46.5c-0.2,0-0.5-0.1-0.7-0.1c-2-0.4-3.6-2-3.9-4c-0.1-0.3-0.1-0.6-0.1-0.9c0-11,0-22,0-32.9c0-2.3,1.5-4.3,3.7-4.9
                                        c0.4-0.1,0.8-0.2,1.2-0.2c7.7,0,15.4,0,23.1,0c2.4,0,4.4,1.6,4.9,4c0.1,0.3,0.1,0.6,0.1,1c0,2.8,0,5.6,0,8.4c0,0,0,0.1,0,0.1
                                        c-0.1,0-0.1-0.1-0.1-0.1c-1-0.9-2.1-1.8-3.1-2.7c0,0-0.1-0.1-0.1-0.2c0-1.8,0-3.7,0-5.5c0-0.8-0.5-1.5-1.3-1.6c-0.1,0-0.3,0-0.4,0
                                        c-7.7,0-15.3,0-23,0c-1,0-1.7,0.7-1.7,1.7c0,11,0,21.9,0,32.9c0,1,0.7,1.7,1.7,1.7c7.7,0,15.3,0,23,0c1,0,1.7-0.7,1.7-1.7
                                        c0-1.8,0-3.6,0-5.5c0-0.1,0-0.2,0.1-0.3c1-0.9,2-1.7,3-2.6c0.1,0,0.1-0.1,0.2-0.2c0,0,0,0.1,0,0.1c0,2.8,0,5.6,0,8.5
                                        c0,2.5-1.8,4.5-4.2,4.9c-0.2,0-0.3,0-0.5,0.1C27.7,46.5,19.8,46.5,12,46.5z M28.5,20.1c-3.2,0-6.4,0-9.6,0c-1,0-1.7,0.7-1.7,1.7
                                        c0,2.2,0,4.3,0,6.5c0,0.1,0,0.3,0,0.4c0.2,0.8,0.8,1.3,1.7,1.3c3.2,0,6.4,0,9.7,0c0.1,0,0.1,0,0.2,0c0,0.1,0,0.1,0,0.2
                                        c0,1.3,0,2.6,0,3.9c0,0.2,0,0.5,0.1,0.7c0.1,0.8,0.7,1.1,1.4,1c0.1,0,0.2-0.1,0.3-0.1c0.6-0.5,1.1-1,1.7-1.5c3.5-3,7-6.1,10.5-9.1
                                        c0,0,0.1,0,0.1-0.1c-0.1-0.1-0.1-0.1-0.2-0.2c-0.9-0.8-1.9-1.6-2.8-2.4c-3.1-2.7-6.2-5.4-9.3-8.1c0,0-0.1-0.1-0.1-0.1
                                        c-0.5-0.2-1.1-0.1-1.4,0.6c-0.1,0.3-0.2,0.6-0.2,0.9c0,1.4,0,2.8,0,4.1c0,0.1,0,0.1,0,0.2C28.7,20.1,28.6,20.1,28.5,20.1z" />






                <<<<<<< Updated upstream
















                                </svg>@Global.resourcemanager.GetString("Logout").ToString()
                            </a>
                =======
                                    </svg>@Global.resourcemanager.GetString("Logout").ToString()
                                </a>*@

            <div class="dropdown show">
                <a class="btn btn-light dropdown-toggle text-right" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" style="background-color: #FFF;">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 117.2 122.9" style="enable-background:new 0 0 117.2 122.9;" xml:space="preserve">
                    <path class="st0" d="M23.5,98.8l24-7.2l-4.2,7.8c8.7,7.4,17.6,9.3,27.6,5.1c-9.4,14.8-23.8,16.5-36,10.5l-4.3,7.9L23.5,98.8
						L23.5,98.8z M104.2,24.9l-24.9,3.4l5.4-7c-7.4-8.6-16-12-26.4-9.3C69.8-1.3,84.4-0.7,95.5,7.2L101,0L104.2,24.9L104.2,24.9z
						M33.1,56.7c0.6,0.6,0.8,1.3,0.8,2c0,0.8-0.3,1.5-0.8,2.1s-1.3,0.8-2.1,0.8H19.5c-0.8,0-1.4-0.3-2-0.8c-0.6-0.6-0.9-1.3-0.9-2.1
						V36.9c0-0.8,0.3-1.4,0.8-2c0.6-0.6,1.2-0.9,2.1-0.9H31c0.8,0,1.5,0.3,2.1,0.9c0.6,0.6,0.8,1.3,0.8,2.1c0,0.8-0.3,1.5-0.8,2.1
						c-0.6,0.6-1.3,0.8-2.1,0.8h-8.7V44h5.8c0.8,0,1.5,0.3,2,0.9c0.6,0.6,0.9,1.3,0.9,2.1c0,0.8-0.3,1.5-0.9,2.1c-0.6,0.6-1.3,0.8-2,0.8
						h-5.8v6H31C31.9,55.9,32.5,56.1,33.1,56.7z M46.9,40.5c1.4,0,2.7,0.3,4,0.8c1.3,0.5,2.4,1.2,3.4,2.1c1,0.9,1.7,2,2.3,3.2
						c0.6,1.2,0.9,2.6,0.9,4v8.1c0,0.8-0.3,1.4-0.8,2c-0.5,0.6-1.2,0.8-2,0.9c-0.8,0-1.5-0.3-2-0.8c-0.6-0.5-0.8-1.2-0.8-1.9v-7.8
						c0-0.7-0.1-1.3-0.4-1.9c-0.2-0.6-0.6-1.1-1-1.5c-0.5-0.4-1-0.8-1.6-1c-0.6-0.3-1.2-0.4-1.9-0.4c-0.6,0-1.2,0.1-1.8,0.4
						c-0.6,0.2-1.1,0.6-1.5,1c-0.4,0.4-0.8,0.9-1,1.5c-0.3,0.6-0.4,1.2-0.4,1.8v7.9c0,0.8-0.3,1.4-0.9,2c-0.6,0.6-1.2,0.8-2,0.8
						c-0.8,0-1.4-0.3-2-0.8c-0.6-0.5-0.9-1.2-0.9-1.9v-7.8c0-1.5,0.3-2.8,0.8-4.1c0.5-1.3,1.3-2.4,2.2-3.4c0.9-1,2.1-1.7,3.3-2.3
						C44,40.8,45.4,40.5,46.9,40.5z M79.5,56.3c-0.8,0-1.5,0.3-2,0.8c-0.6,0.6-0.8,1.2-0.8,2v5.2h5.7v-5.2c0-0.8-0.3-1.5-0.8-2
						C81,56.6,80.3,56.3,79.5,56.3z M104.9,39.6H72.5l0,0v-3.9c0-3.8-1.5-7.5-4.1-10.3l-0.3-0.3c-2.8-2.8-6.6-4.4-10.6-4.4H15
						c-8.3,0-15,6.7-15,15v27.9c0,3.8,1.5,7.5,4.1,10.2l0.3,0.3c2.5,2.5,5.8,4.1,9.4,4.3L13,89c-0.1,1.1,0.2,2.3,0.9,3.2
						c1.5,2,4.4,2.4,6.4,0.8l18.3-14.5h12.2c0.3,6.6,5.7,11.8,12.3,11.8h20.1L99,102.2c0.4,0.3,0.9,0.5,1.5,0.5c1.4,0.1,2.7-1.1,2.7-2.5
						l0.7-9.9h1c6.8,0,12.3-5.5,12.3-12.3V51.9C117.2,45.1,111.7,39.6,104.9,39.6z M67.9,63.6c0,5.8-4.6,10.4-10.4,10.4H37.1L17.5,89.4
						L18.7,74H15C9.3,74,4.6,69.3,4.6,63.6c0,0,0,0,0,0V35.7C4.6,30,9.3,25.3,15,25.3h42.5c5.7,0,10.4,4.7,10.4,10.4V63.6z M88.3,59.2
						v3.5v5.9v6.8c0,0.8-0.3,1.5-0.8,2.1c-0.6,0.6-1.3,0.8-2.1,0.8c-0.8,0-1.5-0.3-2.1-0.8c-0.6-0.6-0.8-1.3-0.8-2.1v-5.1h-5.7v5.1
						c0,0.8-0.3,1.5-0.9,2.1c-0.6,0.6-1.3,0.8-2.1,0.8c-0.8,0-1.5-0.3-2-0.8c-0.6-0.6-0.8-1.3-0.8-2.1v-6.8v-5.9v-3.5v0v-0.1
						c0-1.2,0.2-2.3,0.7-3.4c0.5-1,1.1-2,1.9-2.7c0.8-0.8,1.7-1.4,2.8-1.9c1.1-0.4,2.2-0.7,3.4-0.7s2.3,0.2,3.4,0.7
						c1.1,0.5,2,1.1,2.8,1.9c0.8,0.8,1.4,1.7,1.9,2.7c0.5,1,0.7,2.2,0.7,3.4L88.3,59.2L88.3,59.2z M103.1,62.1c-0.6,0.5-1.2,0.8-2,0.8
						c-0.7,0-1.3,0.1-1.9,0.4c-0.6,0.2-1.1,0.6-1.5,1s-0.8,1-1,1.5c-0.3,0.6-0.4,1.2-0.4,1.9v7.9c-0.1,0.8-0.3,1.4-0.8,1.9
						c-0.5,0.5-1.2,0.7-2,0.7c-0.8,0-1.4-0.3-2-0.8s-0.8-1.2-0.9-2v-8.1c0-1.4,0.3-2.7,0.9-3.9c0.6-1.2,1.3-2.3,2.3-3.2
						c0.9-0.9,2-1.6,3.3-2.2c1.3-0.5,2.6-0.8,4-0.9c0.8,0,1.5,0.3,2,0.8c0.5,0.6,0.8,1.2,0.9,2C103.9,60.9,103.7,61.5,103.1,62.1z" />































































































































































































































































































































































































































































































































					</svg>



                    @if (Session["lang"].ToString() == "en")
                    {

                        @Global.resourcemanager.GetString("English").ToString()
                    }
                    else
                    {
                        @Global.resourcemanager.GetString("Arabic").ToString()
                    }

                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item text-center" href="@Url.Action("ChangeLang", "Setting",new{lang="en" ,uri=Request.Url.AbsoluteUri.ToString()})">@Global.resourcemanager.GetString("English").ToString()</a>
                    <a class="dropdown-item text-center" href="@Url.Action("ChangeLang", "Setting",new{lang="ar",uri=Request.Url.AbsoluteUri.ToString() })">@Global.resourcemanager.GetString("Arabic").ToString()</a>
                </div>

            </div>
        </div>
    </div>
    <div class="cart-menu open">
        <div class="close-menu text-right m-3">
            <span class="text-right">@Global.resourcemanager.GetString("Close").ToString() <i class="fa fa-close fa-lg"></i></span>
        </div>
        <div class="clearfix"></div>
        <div class="d-flex justify-content-between align-items-center mt-4">
            <h4 class="mb-0 font-weight-bold">@Global.resourcemanager.GetString("ShoppingCart").ToString()</h4>
            <h6 class="mb-0 text-muted" id="sp-cart-count">3 @Global.resourcemanager.GetString("items").ToString()</h6>
        </div>
        <hr>
        <div class="cart-items" id="div_cart_items">
            <div class="no-item text-center">
                <p class="text-muted d-none">@Global.resourcemanager.GetString("Thecartisempty").ToString()</p>
            </div>
            <div class="card my-3 item">
                <div class="cancel-item"><i class="fa fa-close fa-sm"></i></div>
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="~/theme/images/company-profile-background.jpg" alt="..." style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Datalogic Datalogic</h5>
                            <p><span>@Global.resourcemanager.GetString("Quantity").ToString():</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-3 item">
                <div class="cancel-item"><i class="fa fa-close fa-sm"></i></div>
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="~/theme/images/company-profile-background.jpg" alt="..." style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Datalogic Datalogic</h5>
                            <p><span>@Global.resourcemanager.GetString("Quantity").ToString():</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-3 item">
                <div class="cancel-item"><i class="fa fa-close fa-sm"></i></div>
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="~/theme/images/company-profile-background.jpg" alt="..." style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Datalogic Datalogic</h5>
                            <p><span>QTY:</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-3 item">
                <div class="cancel-item"><i class="fa fa-close fa-sm"></i></div>
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="~/theme/images/company-profile-background.jpg" alt="..." style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Datalogic Datalogic</h5>
                            <p><span>QTY:</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-3 item">
                <div class="cancel-item"><i class="fa fa-close fa-sm"></i></div>
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="~/theme/images/company-profile-background.jpg" alt="..." style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Datalogic Datalogic</h5>
                            <p><span>QTY:</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-3 item">
                <div class="cancel-item"><i class="fa fa-close fa-sm"></i></div>
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="~/theme/images/company-profile-background.jpg" alt="..." style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Datalogic Datalogic</h5>
                            <p><span>QTY:</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-3 item">
                <div class="cancel-item"><i class="fa fa-close fa-sm"></i></div>
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="~/theme/images/company-profile-background.jpg" alt="..." style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Datalogic Datalogic</h5>
                            <p><span>QTY:</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <a class="btn btn-dark btn-block" href="@Url.Action("CartView", "Cart")">@Global.resourcemanager.GetString("ViewCart").ToString()</a>

            <button class="btn btn-outline-dark btn-block" type="submit">@Global.resourcemanager.GetString("Checkout").ToString()</button>

        </div>
    </div>
    <div class="login-menu open">
        <div class="close-menu text-right m-3">
            <span class="text-right">@Global.resourcemanager.GetString("Close").ToString() <i class="fa fa-close fa-lg"></i></span>
        </div>
        <div class="clearfix"></div>
        @if (Session["customer"] == null)
        {
            <div class="d-flex justify-content-start align-items-center mt-4">
                <h4 data-tab="login" class="mb-3 font-weight-bold col-6 tab-active">

                    @Global.resourcemanager.GetString("Login").ToString()
                </h4>
                <h4 data-tab="signup" class="mb-3 font-weight-bold col-6">

                    @Global.resourcemanager.GetString("Signup").ToString()
                </h4>
            </div>
            <div class="data">

                <div id="login">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 122.88" style="enable-background:new 0 0 122.88 122.88" xml:space="preserve">
                        <path d="M61.44,0c8.32,0,16.25,1.66,23.5,4.66l0.11,0.05c7.47,3.11,14.2,7.66,19.83,13.3l0,0c5.66,5.65,10.22,12.42,13.34,19.95 c3.01,7.24,4.66,15.18,4.66,23.49c0,8.32-1.66,16.25-4.66,23.5l-0.05,0.11c-3.12,7.47-7.66,14.2-13.3,19.83l0,0 c-5.65,5.66-12.42,10.22-19.95,13.34c-7.24,3.01-15.18,4.66-23.49,4.66c-8.31,0-16.25-1.66-23.5-4.66l-0.11-0.05 c-7.47-3.11-14.2-7.66-19.83-13.29L18,104.87C12.34,99.21,7.78,92.45,4.66,84.94C1.66,77.69,0,69.76,0,61.44s1.66-16.25,4.66-23.5 l0.05-0.11c3.11-7.47,7.66-14.2,13.29-19.83L18.01,18c5.66-5.66,12.42-10.22,19.94-13.34C45.19,1.66,53.12,0,61.44,0L61.44,0z M16.99,94.47l0.24-0.14c5.9-3.29,21.26-4.38,27.64-8.83c0.47-0.7,0.97-1.72,1.46-2.83c0.73-1.67,1.4-3.5,1.82-4.74 c-1.78-2.1-3.31-4.47-4.77-6.8l-4.83-7.69c-1.76-2.64-2.68-5.04-2.74-7.02c-0.03-0.93,0.13-1.77,0.48-2.52 c0.36-0.78,0.91-1.43,1.66-1.93c0.35-0.24,0.74-0.44,1.17-0.59c-0.32-4.17-0.43-9.42-0.23-13.82c0.1-1.04,0.31-2.09,0.59-3.13 c1.24-4.41,4.33-7.96,8.16-10.4c2.11-1.35,4.43-2.36,6.84-3.04c1.54-0.44-1.31-5.34,0.28-5.51c7.67-0.79,20.08,6.22,25.44,12.01 c2.68,2.9,4.37,6.75,4.73,11.84l-0.3,12.54l0,0c1.34,0.41,2.2,1.26,2.54,2.63c0.39,1.53-0.03,3.67-1.33,6.6l0,0 c-0.02,0.05-0.05,0.11-0.08,0.16l-5.51,9.07c-2.02,3.33-4.08,6.68-6.75,9.31C73.75,80,74,80.35,74.24,80.7 c1.09,1.6,2.19,3.2,3.6,4.63c0.05,0.05,0.09,0.1,0.12,0.15c6.34,4.48,21.77,5.57,27.69,8.87l0.24,0.14 c6.87-9.22,10.93-20.65,10.93-33.03c0-15.29-6.2-29.14-16.22-39.15c-10-10.03-23.85-16.23-39.14-16.23 c-15.29,0-29.14,6.2-39.15,16.22C12.27,32.3,6.07,46.15,6.07,61.44C6.07,73.82,10.13,85.25,16.99,94.47L16.99,94.47L16.99,94.47z" />































					</svg>
                    </div>
                    <h3 class="text-center mb-4 mt-3">@Global.resourcemanager.GetString("Haveanaccount").ToString()</h3>
                    <form action="" id="loginForm" name="loginForm" class="login-form">
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" name="userName" placeholder="Username" required="">
                        </div>
                        <div class="form-group d-flex">
                            <input type="password" class="form-control rounded-left" name="password" placeholder="Password" required="">
                        </div>
                        <div class="form-check remember mb-2">
                            <input type="checkbox" class="form-check-input" id="rememberme" checked>
                            <label class="form-check-label mr-3" for="rememberme">@Global.resourcemanager.GetString("Rememberme").ToString()</label>
                        </div>
                        <div class="text-right forgot mb-3">
                            <a href="">@Global.resourcemanager.GetString("ForgotPassword").ToString()</a>
                        </div>
                        <div class="form-group">
                            <button type="button" id="btnlogin" class="btn btn-primary btn-block rounded submit">@Global.resourcemanager.GetString("Login").ToString()</button>
                        </div>
                    </form>
                </div>



                <div id="signup" style="display: none;">
                    <h3 class="text-center mb-4 mt-2">@Global.resourcemanager.GetString("Registeration").ToString()</h3>
                    <form action="" id="customerform" name="customerform" class="login-form">
                        <label for="">@Global.resourcemanager.GetString("PersonalInformation").ToString()</label>
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" name="name" id="name" placeholder="First Name.." required value="@if (Session["customer"] != null){@((Session["customer"] as CustomerModel).name.ToString())}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" name="lastName" placeholder="Last Name.." required value="@if (Session["customer"] != null) {@((Session["customer"] as CustomerModel).lastName.ToString())}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" name="company" placeholder="Company.." value="@if (Session["customer"] != null) {@((Session["customer"] as CustomerModel).company.ToString())}">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="countryName" id="countryName">

                                <option value="1">Region..</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="cityName" id="cityName">
                                <option value="1">City..</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Address.." name="address" required value="@if (Session["customer"] != null)  {@((Session["customer"] as CustomerModel).address.ToString())}">
                        </div>
                        <!-- start telephone -->

                        @if ((Session["defaultCountry"] as CountryModel).citiesList.Count() > 0)
                        {
                            <div class="form-group row">
                                <div class="col-4">
                                    <select class="form-control px-1">
                                        @foreach (cityModel cityrow in (Session["defaultCountry"] as CountryModel).citiesList)
                                        {
                                            <option value="@cityrow.cityCode">@cityrow.cityCode</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-8 pr-0">
                                    <input type="text" class="form-control rounded-left" placeholder="Phone.." name="phone" required="" value="@if (Session["customer"] != null) {@((Session["customer"] as CustomerModel).phone.ToString())}">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <input type="text" class="form-control rounded-left" placeholder="Phone.." name="phone" required="" value="@if (Session["customer"] != null) {@((Session["customer"] as CustomerModel).phone.ToString())}">
                            </div>
                        }

                        <!-- End Telephone -->

                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Mobile.." name="mobile" required value="@if (Session["customer"] != null) {@((Session["customer"] as CustomerModel).mobile.ToString())}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Email.." name="email" required value="@if (Session["customer"] != null) {@((Session["customer"] as CustomerModel).email.ToString())}">
                        </div>
                        <hr>
                        <label for="">@Global.resourcemanager.GetString("LoginInformation").ToString()</label>
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" name="userName" placeholder="Username.." required value="@if (Session["customer"] != null) {@((Session["customer"] as CustomerModel).userName.ToString())}">
                        </div>
                        <div class="form-group d-flex">
                            <input type="password" class="form-control rounded-left" name="password" placeholder="Password.." required value="">
                        </div>
                        <hr>
                        <div class="form-check conditions mb-3">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                            <label class="form-check-label mr-3" for="exampleCheck1">@Global.resourcemanager.GetString("AgreetheConditions").ToString()</label>
                        </div>
                        <div class="form-group">
                            <button type="button" id="btnSaveCustomer" class="btn btn-primary btn-block rounded submit">@Global.resourcemanager.GetString("Login").ToString()</button>
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="data">
                <div id="login">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img class="img-circle" src="~/theme/images/nn.jpg" alt="">
                    </div>
                    <h4 class="text-center mt-3 p-0 text-primary">@Global.resourcemanager.GetString("Welcome").ToString()</h4>
                    <h4 class="text-center mb-4">
                        @((Session["customer"] as CustomerModel).name.ToString() + " " + (Session["customer"] as CustomerModel).lastName.ToString())
                    </h4>
                    <div class="nlist">
                        <a href="#" class="active">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 122.88" style="enable-background:new 0 0 122.88 122.88" xml:space="preserve">
                            <path d="M61.44,0c8.32,0,16.25,1.66,23.5,4.66l0.11,0.05c7.47,3.11,14.2,7.66,19.83,13.3l0,0c5.66,5.65,10.22,12.42,13.34,19.95 c3.01,7.24,4.66,15.18,4.66,23.49c0,8.32-1.66,16.25-4.66,23.5l-0.05,0.11c-3.12,7.47-7.66,14.2-13.3,19.83l0,0 c-5.65,5.66-12.42,10.22-19.95,13.34c-7.24,3.01-15.18,4.66-23.49,4.66c-8.31,0-16.25-1.66-23.5-4.66l-0.11-0.05 c-7.47-3.11-14.2-7.66-19.83-13.29L18,104.87C12.34,99.21,7.78,92.45,4.66,84.94C1.66,77.69,0,69.76,0,61.44s1.66-16.25,4.66-23.5 l0.05-0.11c3.11-7.47,7.66-14.2,13.29-19.83L18.01,18c5.66-5.66,12.42-10.22,19.94-13.34C45.19,1.66,53.12,0,61.44,0L61.44,0z M16.99,94.47l0.24-0.14c5.9-3.29,21.26-4.38,27.64-8.83c0.47-0.7,0.97-1.72,1.46-2.83c0.73-1.67,1.4-3.5,1.82-4.74 c-1.78-2.1-3.31-4.47-4.77-6.8l-4.83-7.69c-1.76-2.64-2.68-5.04-2.74-7.02c-0.03-0.93,0.13-1.77,0.48-2.52 c0.36-0.78,0.91-1.43,1.66-1.93c0.35-0.24,0.74-0.44,1.17-0.59c-0.32-4.17-0.43-9.42-0.23-13.82c0.1-1.04,0.31-2.09,0.59-3.13 c1.24-4.41,4.33-7.96,8.16-10.4c2.11-1.35,4.43-2.36,6.84-3.04c1.54-0.44-1.31-5.34,0.28-5.51c7.67-0.79,20.08,6.22,25.44,12.01 c2.68,2.9,4.37,6.75,4.73,11.84l-0.3,12.54l0,0c1.34,0.41,2.2,1.26,2.54,2.63c0.39,1.53-0.03,3.67-1.33,6.6l0,0 c-0.02,0.05-0.05,0.11-0.08,0.16l-5.51,9.07c-2.02,3.33-4.08,6.68-6.75,9.31C73.75,80,74,80.35,74.24,80.7 c1.09,1.6,2.19,3.2,3.6,4.63c0.05,0.05,0.09,0.1,0.12,0.15c6.34,4.48,21.77,5.57,27.69,8.87l0.24,0.14 c6.87-9.22,10.93-20.65,10.93-33.03c0-15.29-6.2-29.14-16.22-39.15c-10-10.03-23.85-16.23-39.14-16.23 c-15.29,0-29.14,6.2-39.15,16.22C12.27,32.3,6.07,46.15,6.07,61.44C6.07,73.82,10.13,85.25,16.99,94.47L16.99,94.47L16.99,94.47z" />































						</svg>@Global.resourcemanager.GetString("Profile").ToString()
                    </a>
                    <a href="#" class="">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 122.9 118.7" style="enable-background:new 0 0 122.9 118.7;" xml:space="preserve">
                        <path class="st0" d="M122.2,68.4c-1.6,9.8-5.7,19.2-12.1,27.1c-2.7,3.4-5.7,6.4-8.9,9.1c-10.9,9.2-24,13.9-37.1,14
							c-13.1,0.1-26.3-4.3-37.4-13.2c-3.2-2.6-6.3-5.6-9.1-9C9.6,87,5.1,75.7,4.1,64.2c-1-11.8,1.5-23.9,7.5-34.5c1.6-2.9,3.3-5.3,5.1-7.5
							L4.2,24c-2,0.3-3.9-1.1-4.1-3.1c-0.3-2,1.1-3.8,3.1-4.1l22.7-3.2v0c0.1,0,0.2,0,0.4,0c2-0.1,3.7,1.5,3.8,3.5l0.8,23.4
							c0.1,2-1.5,3.7-3.5,3.8c-2,0.1-3.7-1.5-3.8-3.5L23,26c-1.8,2.2-3.4,4.4-5,7.2c-5.3,9.3-7.5,20-6.6,30.3c0.9,10.1,4.7,20,11.7,28.2
							c2.5,3,5.2,5.6,8.1,8c9.8,7.8,21.3,11.7,32.8,11.6c11.5-0.1,22.9-4.2,32.5-12.3c2.8-2.3,5.4-5.1,7.9-8.1c5.6-7,9.2-15.1,10.6-23.7
							c1.3-8.5,0.5-17.3-2.7-26c-3.1-8.3-7.8-15.7-13.9-21.4c-5.7-5.4-12.7-9.3-20.8-11.3c-2.5-0.6-5.1-1-7.7-1.2
							c-2.6-0.2-5.4-0.1-8.1,0.2c-2,0.2-3.8-1.2-4-3.2c-0.2-2,1.2-3.8,3.2-4C64,0,67.1-0.1,70.2,0.1c3.1,0.2,6,0.7,9,1.4
							c9.4,2.3,17.5,6.8,24.1,13.1c7,6.5,12.3,14.9,15.8,24.2C122.8,48.6,123.7,58.7,122.2,68.4z M41.8,83.9V55.7c0-0.7,0.6-1.3,1.3-1.3
							h4.1v-8.7c0-4.7,1.9-9,5-12.1v0c3.1-3.1,7.4-5,12.1-5c4.7,0,9,1.9,12.1,5l0,0c3.1,3.1,5,7.4,5,12.1v8.7l3.3,0c0.7,0,1.3,0.6,1.3,1.3
							v28.2c0,0.7-0.6,1.3-1.3,1.3H43.1C42.4,85.2,41.8,84.6,41.8,83.9z M64.5,69.8c1.8-0.4,3.1-1.9,3.1-3.9c0-2.2-1.8-3.9-3.9-3.9
							c-2.2,0-3.9,1.8-3.9,3.9c0,1.8,1.1,3.2,2.7,3.7l-1.7,9.9l5.8,0L64.5,69.8z M53.9,54.4h21v-8.8c0-2.9-1.2-5.5-3.1-7.4l0,0
							c-1.9-1.9-4.5-3.1-7.4-3.1c-2.9,0-5.5,1.2-7.4,3.1c-1.9,1.9-3.1,4.5-3.1,7.4V54.4z" />















						</svg>Change Password
                    </a>
                    <a href="#" class="">
                        <svg version="1.1"
                             id="Layer_1" text-rendering="geometricPrecision" shape-rendering="geometricPrecision" image-rendering="optimizeQuality" xmlns:xodm="http://www.corel.com/coreldraw/odm/2003"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 435"
                             style="enable-background:new 0 0 512 435;" xml:space="preserve">
                        <path d="M395.7,397.3c0,20.8-16.9,37.7-37.7,37.7s-37.7-16.9-37.7-37.7c0-20.8,16.9-37.7,37.7-37.7S395.7,376.5,395.7,397.3z
							M396.1,237.3l-0.1,0.2H148.4L113.4,106h158.4l0-1.9c0-9.9,1.1-19.5,3.1-28.7H104.8c-5.3-21-8.9-39.6-29.4-52.6
							c-10.6-6.7-23.2-9.4-37.3-9.8c-0.4,0-1.2,0-1.6,0H15.3C7.1,13,0,20.1,0,28.3C0,36.9,7.1,44,15.3,44v0h21.2c0.4,0,0.8,0,1.2,0
							c8.6,0,16.1,1.6,21.6,5.1c5.5,3.1,9.4,9,11.8,17.7c0.4,0.4,0.4,0.4,0.4,0.8l52.6,199c8.6,34.2,17.3,53,33.8,64
							c16.1,10.6,36.1,11.4,68.7,11h177.4c8.2,0,15.3-6.7,15.3-15.3c0-8.2-6.7-15.3-15.3-15.3H226.5h-0.4c-26.3,0.4-42,0-51-5.9
							c-7.5-5.1-13-16.1-18.5-36.5h251.2c7.1,0,13.3-4.7,14.9-11.8l5.2-21.1c-7.4,1.3-14.9,1.9-22.6,1.9
							C402.2,237.6,399.1,237.5,396.1,237.3z M192.7,359.6c-20.8,0-37.7,16.9-37.7,37.7c0,20.8,16.9,37.7,37.7,37.7
							c20.8,0,37.7-16.9,37.7-37.7C230.4,376.5,213.5,359.6,192.7,359.6z M244.3,140.9v59.2c0,4.8,4.8,8.8,10.7,8.8
							c5.9,0,10.7-3.9,10.7-8.8v-59.2c0-4.8-4.8-8.8-10.7-8.8C249,132.2,244.3,136.1,244.3,140.9z M180.3,140.9v59.2
							c0,4.8,4.8,8.8,10.7,8.8c5.9,0,10.7-3.9,10.7-8.8v-59.2c0-4.8-4.8-8.8-10.7-8.8C185.1,132.2,180.3,136.1,180.3,140.9z M512,106.7
							c0,29.4-11.9,56.1-31.3,75.4c-19.3,19.3-46,31.3-75.4,31.3c-29.5,0-56.1-11.9-75.4-31.3c-19.3-19.3-31.3-46-31.3-75.4
							c0-29.5,12-56.1,31.3-75.4C349.2,12,375.9,0,405.3,0c29.5,0,56.1,11.9,75.4,31.3C500.1,50.6,512,77.3,512,106.7z M462.2,75.7
							l-15.6-16c-4.8-4.9-7.2-1.8-11.1,2.2l-43.2,43.9L372.4,87l0,0c-2.8-2.7-5-2.9-7.7,0l-18.1,18.8c-2.4,2.3-2.6,4.7-0.4,7l36.3,36.1
							c10.3,10.2,8.5,9.6,18.7-0.3l61.1-60C467.1,83.7,467.3,80.8,462.2,75.7z" />















						</svg>Purchases
                    </a>
                    <form action="" id="logoutForm" name="logoutForm" class="login-form">
                        <div class="form-group">
                            <button type="button" id="btnlogout" class="btn btn-primary btn-block rounded submit">@Global.resourcemanager.GetString("Logout").ToString()</button>
                        </div>
                    </form>

                    </div>
               
                </div>
            </div>

        }

    </div>
    <div class="local-bg"></div>
    <div class="menu-bg"></div>
    <div class="slider">
        <div class="container-fluid">
            <div class="row">
                <div class="col p-0">
                    <img class="img-fluid" src="~/theme/images/company-profile-background.jpg"
                         alt="">
                    <div class="profile-pic">
                        <img src="
                         @if (Session["com_logo"].ToString() != "" && Session["com_logo"] != null)
                         { @Url.Content(Global.APIUriserver + "images/setvalues/" + Session["com_logo"].ToString())
                         } else {
                    @Url.Content(Global.ItemFolder + "default.png") }
                    " alt="">
                    </div>
                    <div class="comp-details">
                        <h4> @Session["com_name"]</h4>
                        @*<span>شركة مواد بناء</span>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Products", "index", "Category")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@

    <section class="content p-0">
        @RenderBody()
    </section>
    <footer>
        <div class="container footer-info">
            <div class="row">
                <div class="col-md-3">
                    <h6>@Global.resourcemanager.GetString("Quicklinks").ToString()</h6>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Home")">@Global.resourcemanager.GetString("Home").ToString()</a></li>
                        <li><a href="">@Global.resourcemanager.GetString("Products").ToString()</a></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("About","Home")">@Global.resourcemanager.GetString("AboutUs").ToString()</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">@Global.resourcemanager.GetString("contactUs").ToString()</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h6>@Global.resourcemanager.GetString("Support").ToString()</h6>
                    <ul class="list-unstyled">
                        <li><a href="">@Global.resourcemanager.GetString("FAQ").ToString()</a></li>
                        <li><a href="">@Global.resourcemanager.GetString("Privacypolicy").ToString()</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="contacts">
                        <h6>@Global.resourcemanager.GetString("contactUs").ToString()</h6>
                        <ul class="list-unstyled">
                            <li>@Global.resourcemanager.GetString("Mobile").ToString(): <span>@Session["com_mobile"]</span></li>
                            <li>@Global.resourcemanager.GetString("Email").ToString(): <span>@Session["com_email"]</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" social-icons">
                        <h6>@Global.resourcemanager.GetString("FollowUs").ToString()</h6>
                        <ul class="list-unstyled">
                            <li><a href="facebook.com"><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <p class="copyright">@Global.resourcemanager.GetString("Allrightsreserved").ToString()&copy;<span>@Session["com_name"]  @DateTime.Now.Year</span></p>
            </div>
        </div>
    </footer>
    <div class="scroll-to-top" title="Go Up">
        <i class="fa fa-chevron-up fa-x"></i>
    </div>
    @*<script src="~/theme/js/jquery-2.1.3.min.js"></script>
        <script src="~/theme/js/popper.min.js"></script>
        <script src="~/theme/js/bootstrap.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/theme/js/countries.json"></script>
    <script src="~/theme/js/cart-menu.js"></script>
    <script src="~/theme/js/main.js"></script>
    <script src="~/theme/js/validate.js"></script>

    <script type="text/javascript">
       path = "@ViewBag.path";
     var   customerCountry = "@if (Session["customer"] != null) {@((Session["customer"] as CustomerModel).countryName.ToString())}";
         var   customerCity="@if (Session["customer"] != null) {@((Session["customer"] as CustomerModel).cityName.ToString())}";
  var  defaultCountry = `@if (Session["defaultCountry"] != null){@Html.Raw(JsonConvert.SerializeObject((Session["defaultCountry"] as CountryModel)))}`;
        const jsonCountry = JSON.parse(defaultCountry);
       // alert(jsonCountry.name);
        
    </script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
