@model PosEcommerce.Models.ItemModel
@using PosEcommerce.Models;
@{
    ViewBag.Title =@ViewBag.item.name;
}
    <section class="product-view p-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">

                            @if (@ViewBag.catPathList.Count == 0)
                            {
                            <li class="breadcrumb-item active" aria-current="page">@Global.resourcemanager.GetString("Products").ToString()</li>
                            }
                            else
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Category")">@Global.resourcemanager.GetString("Products").ToString()</a></li>

                            }

                            @foreach (var row in ViewBag.catPathList)
                            {
                                if (@row.notes == "last")
                                {
                                    <li class="breadcrumb-item active" aria-current="page">@row.name</li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Category", new { catId = @row.categoryId })">@row.name</a></li>

                                }
                            }
                          
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="img-container">
                        <img src="
                              @if (ViewBag.item.image != "" && ViewBag.item.image != null)
                              {
                           @Url.Content(Global.APIUriserver + "images/item/" + ViewBag.item.image.ToString())
                              } else
                              {
                                  @Url.Content(Global.ItemFolder + "default.png")
                              }" alt="">
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <h3>@ViewBag.item.name</h3>
                    <p class="product-features">@ViewBag.item.details</p>
                    <hr>
                    <p class="price">
                        <span class="title">@Global.resourcemanager.GetString("price").ToString(): </span>
                        @if (@ViewBag.item.isOffer == 1)
                        {
                            <span id="price" class="now" data-content="@ViewBag.item.disPrice">@ViewBag.item.disPrice</span><span class="now"> @Session["currency"]</span>
                            <span class="before">@ViewBag.item.price  @Session["currency"]</span>
                        }
                        else
                        {
<<<<<<< Updated upstream
                            <span class="now">@ViewBag.item.price  @Session["currency"]</span>
                        }
                    </p>
=======
                            <span class="now" id="price" data-content="@ViewBag.item.price">@ViewBag.item.price</span> <span class="now"> @Session["currency"]</span>
                                }
                        </p>
>>>>>>> Stashed changes
                    <div class="qty my-3">
                        <div class="row">
                            <div class="col-4">
                                <form action="">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="quantity-left-minus btn btn-dark btn-number" data-type="minus" data-field="">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </span>
                                        <input type="text" id="quantity" name="quantity" class="form-control input-number text-center" value="0" min="1" max="100">
                                        <span class="input-group-btn">
                                            <button type="button" class="quantity-right-plus btn btn-dark btn-number" data-type="plus" data-field="">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
<<<<<<< Updated upstream
                    <p class="total"><span>TOTAL: </span>200 KD</p>
                    <script>
                        var itemParam = @Html.Raw(Json.Encode(Model));
                    </script>
                    <a class="btn btn-primary" onclick="addToCart(itemParam)" title="Add to cart"><i class="fa fa-shopping-cart pl-2"></i>@Global.resourcemanager.GetString("AddtoCart").ToString()</a>
=======
                    <p class="total"><span>TOTAL: </span><span id="total"></span>@Session["currency"]</p>
                    <script>
                        var itemParam = @Html.Raw(Json.Encode(Model));
                    </script>
                    <a class="btn btn-primary" href="#" onclick="addToCart(itemParam)" title="@Global.resourcemanager.GetString("AddtoCart").ToString()"><i class="fa fa-shopping-cart pl-2"></i>@Global.resourcemanager.GetString("AddtoCart").ToString()</a>
>>>>>>> Stashed changes
                    <hr>
                    <div class="mt-3">
                        <a class="btn btn-dark btn-block" href="@Url.Action("CartView", "Cart")" title="@Global.resourcemanager.GetString("ViewCart").ToString()">@Global.resourcemanager.GetString("ViewCart").ToString()</a>
                        <a class="btn btn-outline-dark btn-block" href="#" title="@Global.resourcemanager.GetString("Checkout").ToString()">@Global.resourcemanager.GetString("Checkout").ToString()</a>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <script>
    function addToCart(_item) {
        var _quantity = $('#quantity').val();

        $.ajax({
            url: '@Url.Action("AddWithQuantity", "Cart")',
            data: {
                item: _item,
                quantity: _quantity
            },
            type: "POST",
              dataType: "json",
            async: false,
            success: function (result) {
                $('#span_cart_count').show();
                $('#span_cart_count').html(result.cartCount);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('oops, something bad happened');
            }
        });
<<<<<<< Updated upstream
=======
            }

    function viewCartItems() {
        var divContent = '';
 $.ajax({
     url: '@Url.Action("ViewCartItems", "Cart")',
     type: "GET",
     dataType: "json",
     success: function (data) {  
         $.each(data, function (index, item) {
              divContent +=
            `<div class="col-md-4">
                <div class= "x_panel" >
                    <div class="x_content">
                        <div class="row">
                            <div class="clearfix"></div>
                                <div class="col-md-6 col-sm-6 col-xs-12 profile_details">
                                    <div class="well profile_view">
                                        <div class="col-sm-12">
                                            <h4 class="brief" id="divSpeciality"><i>${item.Speciality}</i></h4>
                                            <div class="left col-xs-7"><h2 id="divFullName">${item.FullName}</h2>
                                                <p id="divEducation">${item.Education}</p>
                                            </div>
                                            <div class="right col-md-5">
                                                <img src="~/Images/img.jpg" alt="" class="img-circle img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;
            });
            $('#searchResult').html(
                divContent
            );
        },
        failure: function () {
            alert("fail");
        },
        error: function () {
            alert("error");
        }
    });
>>>>>>> Stashed changes
    }
    </script>